html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent; }
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after {content: '';content: none}
q:before, q:after {content: '';content: none}
:focus {outline: 0}
ins {text-decoration: none}
del {text-decoration: line-through}
table {border-collapse: collapse;border-spacing:0}

/*----------------------------------------------------------------------

  Layout
  
----------------------------------------------------------------------*/

body {
  font: 14px/22px Arial;
  /*
  text-shadow: rgba(0,0,0,.3) 0 1px 0;
  -webkit-text-stroke: transparent .5px;
  */
  color: #fff;
  background: rgb(120,10,10);
  background: -webkit-gradient(
    radial,
    center 200, 0,
    center 200, 1000,
    from(rgb(150,40,40)),
    to(rgb(120,10,10))
  );
  background: -moz-radial-gradient(
    center 200px,
    circle,
    rgb(150,40,40),
    rgb(120,10,10)
  );
}

.cnt {
  width: 950px;
  margin: 0 auto; }

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

strong {font-weight: bold}
em {font-style: italic}


/*----------------------------------------------------------------------
  Buttons
----------------------------------------------------------------------*/

.button {
  display: block;
  text-shadow: #000 0 1px 0;
  background: rgb(49,38,38);
  background: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0.0,rgba(120,120,120,.9)),
    color-stop(0.5,rgba(40,40,40,.9)),
    color-stop(0.5,rgba(0,0,0,.9)),
    color-stop(0.55,rgba(0,0,0,.9)),
    color-stop(1.0,rgba(70,70,70,.9)));
  background: -moz-linear-gradient(
    rgba(120,120,120,.9),
    rgba(40,40,40,.9) 50%,
    rgba(0,0,0,.9) 50%,
    rgba(0,0,0,.9) 55%,
    rgba(70,70,70,.9));
  border: 1px solid rgb(57,3,3);
  border: 1px solid rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255,255,255,.4) 0 0 2px;
  -moz-box-shadow: rgba(255,255,255,.4) 0 0 2px;
  box-shadow: rgba(255,255,255,.4) 0 0 2px;
}
.button.download {
  font: 16px/40px Arial;
  padding: 0 30px;
}
.button.small {
  float: right;
  margin: 20px;
  font: 14px/30px Arial;
  padding: 0 20px;
}
.button:hover {
  background: rgb(18,116,8);
  background: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0.0,rgba(120,240,120,.9)),
    color-stop(0.55,rgba(0,120,0,.9)),
    color-stop(1.0,rgba(70,140,70,.9)));
  background: -moz-linear-gradient(
    rgba(120,240,120,.9),
    rgba(0,120,0,.9) 55%,
    rgba(70,140,70,.9));
}

/*----------------------------------------------------------------------

  .nav.main
  
----------------------------------------------------------------------*/

.nav.main {
  height: 48px;
  -webkit-box-shadow: rgba(0,0,0,.15) 0 0 25px;
  -moz-box-shadow: rgba(0,0,0,.15) 0 0 25px;
  box-shadow: rgba(0,0,0,.15) 0 0 25px;
}
.nav.main ul {
  height: 48px;
}
.nav.main.top {
  background: rgb(137,54,54);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.4)),
    color-stop(0.9,transparent));
  background: -moz-linear-gradient(
    rgba(255,255,255,.4),
    transparent 90%);
  border-bottom: 1px solid rgb(160,60,60)
}
.nav.main.bot {
  background: rgb(130,35,35);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.3)),
    color-stop(1,transparent));
  background: -moz-linear-gradient(
    rgba(255,255,255,.3),
    transparent);
  border-bottom: 1px solid rgb(75,0,0); }
    
.nav.main li {float: left}
.nav.main a {
  display: block;
  line-height: 48px;
  padding: 0 17px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;
}
.nav.main a:hover {
  border-color: rgb(185,136,136);
  border-color: rgba(255,255,255,.2);
  background: rgb(154,83,83);
  background: rgba(255,255,255,.15);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.2)),
    to(rgba(255,255,255,.1)));
  background: -moz-linear-gradient(
    rgba(255,255,255,.2),
    rgba(255,255,255,.1));
}
.nav.main li.i18n {
  margin: 12px 0;
  float: right;
}
.nav.main li.i18n form {
  padding: 0;
  -webkit-box-shadow: rgba(255,255,255,.15) 0 0 15px;
  -moz-box-shadow: rgba(255,255,255,.15) 0 0 15px;
  box-shadow: rgba(255,255,255,.15) 0 0 15px;
}
      
/*----------------------------------------------------------------------

  header
  
----------------------------------------------------------------------*/

#header {
  position: relative;
  height: 380px;
  margin: 0 auto 40px;
}
#header h1.logo a {
  display: block;
  float: left;
  margin: 30px 0 0 -40px;
  height: 179px;
  width: 500px;
  text-indent: -9999em;
  background: url(../i/logo.png) no-repeat;
}
#header p.subtitle {
  float: left;
  font: 18px/1.5 Arial;
  margin-left: 40px;
  width: 500px;
}
#header .nav {
  float: left;
  clear: left;
  margin: 30px 0 0 40px;
}
#header .nav li {
  float: left;
  margin-right: 15px;
}
#header .nav .learn {
  display: block;
  font: 16px/44px Arial;
  padding: 0 20px;
  background: rgb(115,13,13);
  background: rgba(0,0,0,.15);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header .nav .learn:hover {
  background: rgb(105,12,12);
  background: rgba(0,0,0,.2)
}

#code {
  position: absolute;
  top: 50px;
  right: 0;
  color: white;
  padding: 40px 0 0;
  width: 350px;
  height: 260px;
  border: 5px solid rgb(165,70,70);
  background: rgb(59,15,15);
  background: rgba(0,0,0,.6);
  background: -webkit-gradient(
    radial,
    center center, 0,
    center center, 360,
    from(rgba(0,0,0,.5)),
    to(rgba(0,0,0,.7)));
  background: -moz-radial-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.7));
  -webkit-border-top-left-radius: 175px;
  -moz-border-radius-topleft: 175px;
  border-top-left-radius: 175px;
  -webkit-border-bottom-right-radius: 175px;
  -moz-border-radius-bottomright: 175px;
  border-bottom-right-radius: 175px;
  -webkit-box-shadow: rgba(255,255,255,.15) 0 0 100px;
  -moz-box-shadow: rgba(255,255,255,.15) 0 0 100px;
  box-shadow: rgba(255,255,255,.15) 0 0 100px;
}
#code div {
  display: block;
  font: 14px/15px "Lucida Console", Monaco, monospace;
  padding: 0 0 0 90px;
  text-shadow: none;
}
#code .keyword {color: #f9bb00}
#code .comment {color: #428bdd}
#code .string {color: #00cc00}
#code .blank-line {line-height: 70%}
    
/*----------------------------------------------------------------------

  Content
  
----------------------------------------------------------------------*/

#content {margin: 0 auto 40px}

#content:after {
  display: block;
  content: "\0020";
  clear: both;
}

/*----------------------------------------------------------------------

  Posts
  
----------------------------------------------------------------------*/

ul#posts {
  width: 546px;
  float: left;
  position: relative;
  background: rgb(110,7,7);
  background: rgba(0,0,0,.15);
  margin-right: 40px;
  padding: 10px 2px 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(255,255,255,.15) 0 0 100px;
  -moz-box-shadow: rgba(255,255,255,.15) 0 0 100px;
  box-shadow: rgba(255,255,255,.15) 0 0 100px;
  
}

#posts:before, #posts:after {
  position: absolute;
  left: 2px;
  display: block;
  z-index: -1;
  height: 80px;
  width: 546px;
  content: "\0020";
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#posts:before {
  top: 2px;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.3)),
    to(transparent));
  background: -moz-linear-gradient(
    rgba(255,255,255,.3),
    transparent);
}
#posts:after {
  bottom: 2px;
  background: -webkit-gradient(
    linear, left bottom, left top,
    from(rgba(255,255,255,.2)),
    to(transparent));
  background: -moz-linear-gradient(
    transparent,
    rgba(255,255,255,.2));
}

#posts li {
  clear: both;
  margin: 20px 0 0;
}
#posts li.abbr.post a {
  display: block;
  min-height: 40px;
  margin: 0 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#posts li.abbr.post a:hover {
  background: rgb(88,9,9);
  background: rgba(0,0,0,.2);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.2)),
    color-stop(0.5,rgba(255,255,255,.03)),
    color-stop(0.5,transparent),
    to(rgba(255,255,255,.1)));
  background: -moz-linear-gradient(
    rgba(255,255,255,.2),
    rgba(255,255,255,.03) 50%,
    transparent 50%,
    rgba(255,255,255,.1));
  -webkit-box-shadow: rgba(0,0,0,.25) 0 0 5px;
  -moz-box-shadow: rgba(0,0,0,.25) 0 0 5px;
  box-shadow: rgba(0,0,0,.25) 0 0 5px;
}

#posts li h3 a,
#posts li.abbr .title {
  display: block;
  font: bold 24px/1 Arial, "Century Gothic";
  padding: 10px 0 0;
}
#posts li.abbr .title {
  font-size: 14px;
  line-height: 20px;
}
#posts li p, #posts li.abbr .author {
  display: block;
  font-weight: normal;
  padding: 0 40px 20px 80px;
}
#posts li .author {
  font-size: 12px;
  line-height: 20px;
  color: rgb(190,110,110);
  text-shadow: none;
}
  
#posts li.abbr .author {
  padding-bottom: 10px;
  padding-left: 70px;
}

#posts li p a {
  padding: 1px 5px;
  background: rgb(85,12,12);
  background: rgba(0,0,0,.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
}
#posts li p a:hover {background: rgba(0,0,0,.5)}
#posts li .date {
  display: block;
  height: 40px;
  width: 40px;
  margin: 10px 20px 0;
  float: left;
  font-size: 12px;
  background: rgb(82,8,8);
  background: rgba(0,0,0,.2);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(0,0,0,.25)),
    to(rgba(0,0,0,.15)));
  background: -moz-linear-gradient(
    rgba(0,0,0,.25),
    rgba(0,0,0,.15));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#posts li.abbr .date {margin-left: 10px}

#posts li .date span {
  display: block;
  text-align: center;
}
#posts li .date span.month {
  font-weight: normal;
  font: 11px/1 Arial;
  padding: 6px 0 4px;
}
#posts li .date span.day {font: bold 14px/1 Arial}
      
/*----------------------------------------------------------------------

  Panels
  
----------------------------------------------------------------------*/

.nav.panels {
  width: 360px;
  float: left
}
.nav.panels .panel {margin: 0 0 40px}

.section.heading h3 {
  font: bold 20px/36px Arial;
  padding: 0 1px 5px;
  border-bottom: 2px solid rgb(98,12,12);
  border-bottom: 2px solid rgba(0,0,0,.2);
}
.section.heading p {
  border-top: 2px solid rgb(139,69,69);
  border-top: 2px solid rgba(255,255,255,.2);
  margin: 0 1px 30px;
  padding: 6px 0 0;
}

.nav.panels .panel.small.start {margin-right: 10px}
.nav.panels .panel.small a {
  display: block;
  padding: 6px 10px;
  font-weight: normal;
  border-bottom: 1px solid rgb(80,0,0);
  border-top: 1px solid rgb(120,30,30);
  border-top: 1px solid rgba(255,255,255,.1);
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
}
.nav.panels .panel.small li:last-of-type a {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav.panels .panel.small a:hover {
  background: rgb(132,54,54);
  background: rgba(255,255,255,.1);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.15)),
    to(rgba(255,255,255,.05)));
  background: -moz-linear-gradient(
    rgba(255,255,255,.15),
    rgba(255,255,255,.05));
  border-top: 1px solid rgb(160,70,70);
  border-top: 1px solid rgba(255,255,255,.2);
}
.nav.panels .participate {clear: both}

/* if ie == 'fucking sucks ass' */
.participate .squares li a,
.projects li a {margin-right: 10px}
.participate .squares {width: 370px}
.projects {width: 960px}

/* else
.participate .squares li:nth-of-type(odd) a,
.projects li:not(:last-of-type) a {margin-right: 10px}
*/

.nav.panels .panel.small, .squares a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 171px;
  padding: 2px;
  float: left;
  background: rgb(110,7,7);
  background: rgba(0,0,0,.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.participate .squares a {
  height: 171px;
  margin: 0 0 20px;
}
.squares.projects a {
  width: 178px;
  height: 278px;
}
.squares a:hover:after {
  display: block;
  position: absolute;
  z-index: 0;
  left: -60px;
  bottom: -30px;
  content: "\2192";
  font-size: 200px;
  line-height: 1;
  color: rgb(119,25,25);
  color: rgba(255,255,255,.1);
  text-shadow: none;
}
.panel.small h4, .squares .title {
  display: block;
  padding: 6px 10px 0;
  font: bold 14px/30px Arial;
  border-bottom: 1px solid rgb(80,0,0);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(255,255,255,.2)),
    color-stop(0.6, rgba(255,255,255,0)),
    to(transparent));
  background: -moz-linear-gradient(
    rgba(255,255,255,.2),
    rgba(255,255,255,0) 60%,
    transparent);
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
}
.projects li .title {
  font-size: 16px;
  padding-top: 8px;
}

.squares li .description {
  position: relative;
  z-index: 1;
  display: block;
  border-top: 1px solid;
  border-top-color: rgb(120,30,30);
  border-top-color: rgba(255,255,255,.1);
  padding: 6px 10px;
  font-weight: normal;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
}

#projects-cnt {
  overflow: hidden;
  margin: 0 auto 40px;
}
#projects-cnt h2 {
  text-align: center;
  font: bold 36px/70px Arial;
  letter-spacing: -1px;
  border-bottom: 2px solid rgb(98,12,12);
  border-bottom: 2px solid rgba(0,0,0,.2);
}
.projects {
  padding: 20px 0 0;
  border-top: 2px solid rgb(139,69,69);
  border-top: 2px solid rgba(255,255,255,.2);
}
/*----------------------------------------------------------------------

  Bottom
  
----------------------------------------------------------------------*/

#bottom {
  font-size: 12px;
  background: rgb(95,1,1);
  background: rgba(0,0,0,.15);
  padding: 20px 0 40px;
  border-top: 1px solid;
  border-top-color: rgb(107,29,29);
  border-top-color: rgba(255,255,255,.1);
}